* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }

  a {
    color: rgb(2, 66, 96);
    text-decoration: none;
  }

  h2 {
    color:rgb(34, 120, 200);
    text-transform: uppercase;
  }

  main {
    margin-top: 6rem;
  }
  